/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    position: relative;
    font-size: 1.2rem;
    font-weight: 200;
    color: #333;
    line-height: 1.6;
    background-color: #f5f5f5;
    width: 100%;

}
/*---------------------------------------/
#Titles
/---------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 ,button{
    font-family: "Montserrat", sans-serif;

}
h3{
    color: #3c8cc9;
    font-weight: 500;
 }

section{
    display: flex;
    background-color: #fff;
    box-shadow: 0px 2px 4px #00000017;

}
aside{
 
    background-color: white;
    padding: 10px;
    padding-top: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 2px 4px #00000017;
    margin-right: 5px;
    height: 100vh;

}
.right-side{
    flex: 1;/*grow and take up available space in the container*/
    background-color: #f5f5f5;
    padding: 10px;
  

    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;

}
 .admin-header{
    width: 100%;
    padding: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 4px #00000017;

}
.admin-header h3{
    color: black;
}
aside .title{
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}
aside .title i{
    color: black;
    font-size: 1.5rem;
}
aside i{

    color: #3c8cc9;
}
nav div{
    margin-bottom: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    font-weight: 400;
    transition: 0.6s ease-in-out;

}
nav div a{
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
.activ{

    background-color: #3c8cc927;
    border-radius: 5px;
}
nav div:hover{
    background-color: #3c8cc927;

}
nav .title:hover{
    background-color: initial;

}
nav form{
    margin-top: 80px;
    margin-bottom: 150px;
}
form button{
    cursor: pointer;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 10px;
    background-color:  #3c8cc9;
    color: white;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
}
form i{
    color: white;
    font-size: 1rem;
}
.right-side .profile{
    display: flex;
    justify-content: space-between;
}
.right-side .profile p img{
    border-radius: 50%;
}
.right-side .profile p{
    border-radius: 50%;
    border: 2px solid #fff;
    width: 33px;
    height: 33px;
}
/*-----------------------------------/
#Dashboard
/-----------------------------------*/

.our-cart-prod {
    margin-top: 10px;
}

.order-prod {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    justify-content: space-between;
    box-shadow: 0px 1px 10px #e2e2e2a7;
    background-color: #fff;
    border-radius: 10px;
}

.order-prod div {
    text-align: center;
}

.order-prod div span {
    color: #9a9a9a;
}
.order-prod div h4{
    font-weight: 600;
}
.order-prod img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    mix-blend-mode: multiply;

}

.delete{
    display: grid;
    gap: 10px;
    padding-right: 20px;
}
.delete button {
    border: none;
    background-color: white;
    color: #a35454;
    font-size: 1.2rem;
    cursor: pointer;
}
.delete a{
    color: #3c8cc9;
    font-size: 1.2rem;
}
.price {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    color: #141b1fda;
    width: fit-content;
    text-align: right;
    padding: 3px 30px;
    margin-top: -35px;
    text-align: center;
    background-color: #ffff;
    box-shadow: 0px 1px 10px #e2e2e2a7;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 17px;
}
.price h4{
    font-weight: 600;
}
.our-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    -webkit-column-gap: 10px;
}

.our-buttons button {
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #141b1fda;
}


/*---------------------------------------/
#User profile
/---------------------------------------*/


.profile-section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}
.profile-card, .profile-edit {
    flex: 1;
    max-width: 50%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #00000017;
}
.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.profile-card button {
    margin-top: 15px;
    color: red;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    background-color: initial;

}

.profile-edit form{
    display: grid;
    gap: 12px;
}
.profile-edit form input {
    padding: 8px;
    padding-left: 20px;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    font-family: "Outfit", sans-serif;
    border: 1px solid rgb(233, 233, 233);
    width: 100%;
    font-weight: 200;
}
.profile-edit form .edit-button {
    cursor: pointer;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
    background-color:  #3c8cc9;
    color: white;
    font-weight: 300;
}
.profile-edit h4{
    text-align: center;
}
.errors-management{
    font-size: 1.1rem;
    text-align: center;
}
.errors-management .success{
    color: green;
}
.errors-management .error{
    color: red;
}

/*Product*/
.add-product{
    text-align: center; 
    padding: 5px 20px 5px 20px;
    font-family: "Outfit", sans-serif;
    box-shadow: 0px 2px 4px #00000017;
    font-weight: 200;
    width: 200px;
    margin-left: auto;
    border-radius: 30px;
    background-color: #fafafa;
    margin-bottom: 10px;

}
.add-product a{
    color: #3c8cc9;
    text-decoration: none;
}


/*************POPUP************/
.popup{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 3s ease;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.678);
}

.popup-container{
    width: fit-content;
    padding: 40px 50px;
    background-color: white;
}
.hidden-popup{
    display: none;
}

.icons-link {
    border: none;
    outline: none;
    padding: 10px 15px;
    color: #fff;
    background-color: #141b1fda;
    font-family: "Poppins", sans-serif;
    width: 48%;
    border-radius: 4px;
 
}



/*---------------------------------------/
#Products
/---------------------------------------*/
.products-section{
    padding: 20px 30px 30px 30px ;

}
.product-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}
.products-section h3{
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}
.products-section .product img{
    width: 220px;
    height: 240px;
    mix-blend-mode: multiply;
}
.products-section   .product{
    padding: 20px;
    box-shadow: 0px 2px 4px #00000017;
    border-radius: 8px;
    background-color: #fafafa;
}
.products-section .product h4{
    font-weight: 600;
}
.products-section .product .buy{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    align-items: center;
}
.products-section .product .stars{
    display: flex;
    align-items: center;
    gap: 10px;
}
.products-section .product .stars div{
    color: #ffdc60;
    font-size: 1rem;
}
.products-section .product hr{
    border-color: #2980c4;
}
.products-section .product .buy a{
    text-decoration: none;
    box-shadow: 0px 2px 4px #00000017;
    padding: 3px 30px;
    color: #3c8cc9;
    border-radius: 40px;
}
.products-section .view-more{
    display: flex;
    margin: auto;
    color: #3c8cc9;
    margin-top: 15px;
    width: fit-content;
    padding: 4px 30px;
    border-radius: 25px;
    transition-delay: 0.4s;
    transition: 0.4s ease-in-out;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0px 2px 4px #00000017;
}

/*---------------------------------------/
#Posts
/---------------------------------------*/
.posts-section{
    padding: 20px 30px 30px 30px ;
}
.post-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.posts-section h3{
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}
.posts-section .post img{
    width: 220px;
    height: 240px;
    mix-blend-mode: multiply;
    justify-content: center;
}
.posts-section   .post{
    width: 450px;
    padding: 20px;
    box-shadow: 0px 2px 4px #00000017;
    border-radius: 8px;
    background-color: #fafafa;
}
.posts-section .post h4{
    font-weight: 600;
}
.posts-section .post .buy a{
    text-decoration: none;
    box-shadow: 0px 2px 4px #00000017;
    padding: 3px 30px;
    color: #3c8cc9;
    border-radius: 40px;
}