/*-----------------------------------/
#Individual Blog Post
/-----------------------------------*/
.articles-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.blog-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 140px;
}
.blog-post {
    width: 48%;
    max-width: 900px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box; 
    margin-bottom: 20px;
}

.blog-post  h3{
    color:#3c8cc9;
    margin-bottom: 10px;
}
.blog-post .title{
    text-align: center;
}
.blog-post .image-article{
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    width: 350px;
    height: auto;
    object-fit: cover;
}
.blog-post p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}
/*-----------------------------------/
#Like Button
/-----------------------------------*/
.like-button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1em;
    color: #2b92ff;
    outline: none;
    padding: 0;
    transition: color 0.3s;
}

.like-button.liked {
    color: #2b92ff;
}
.like-count {
    margin-right: 10px;
}
.share-button {
    background-color: initial;
    color:  #007bff;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}
.share-button i {
    margin-right: 8px;
}
.post-button-delete ,.post-button-edit,  .save-comment {
    cursor: pointer;
    font-weight: 500;
    cursor: pointer;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 10px;
    color:  #3c8cc9;
    font-weight: 400;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    background-color: initial;
}
.save-comment{
    background-color: #3c8cc9;
    color: white;
}
textarea{
    font-family: "Outfit", sans-serif;
    border: 1px solid gray;
    border-radius: 8px;
    padding-left: 20px;
    font-size: 1rem;
    font-weight: 200;
    outline: none;
}
.post-button-delete{
    color: rgb(161, 2, 2);
}
/*-----------------------------------/
#Comment Section
/-----------------------------------*/
.comment-section {
    margin-top: 20px;
}
.comment-section h3 {
    margin-bottom: 10px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments {
    margin-top: 10px;
}
.comment {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f4f498;
    border-radius: 4px;
}
.comment span {
    font-weight:400;
}
.comment-form {
    width: 100%; 
}
.comment-form textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    outline: none;
    box-sizing: border-box; 
}

.comment-form button {
    background-color: #2b92ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Poppins", sans-serif;
}

.comment-form button:hover {
    background-color: #007bff;
}
.hidden {
    display: none;
}
.toggle-comments {
    cursor: pointer;
    font-size: 0.9em;
    color: #2b92ff;
    border: none;
    background: none;
    outline: none;
    transition: color 0.3s;
    font-family: "Poppins", sans-serif;
}

.toggle-comments:hover {
    color: #007bff;
}

/*-----------------------------------/
#popup to share
/-----------------------------------*/
#share-popup {
    display: none;
    position: fixed;
    margin-top: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Start hidden and scaled down */
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    padding-left: 40px;
    padding-right: 40px;
}

#share-popup.active {
    display: block; 
    transform: translate(-50%, -50%) scale(1); /* Scale up to normal size */
    opacity: 1; 
}


#share-popup ul {
    list-style: none;
    padding: 0;
}

#share-popup ul li {
    margin: 5px 0;
}

#share-popup a {
    text-decoration: none;
    color: #007bff;
}

#close-popup {
    margin-top: 10px;
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 30px;
}
 .media-sociaux {
    display: flex;
    gap: 20px;
    -webkit-column-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.media-sociaux a {
    padding: 12px 15px;
    border-radius: 50%;
    color: var(--blueColor);
    background: #dde1e7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.media-sociaux a:hover {
    box-shadow: inset 7px 7px 8px #cbcfd5, inset -7px -7px 8px #eff3f9;
}


@media screen and (max-width: 806px) {
    .articles-section{
        display: grid;
        width: 100%;
        padding: 20px;
    }

    .blog-post {
        width: 100%;
    }
    .blog-post .image-article{

    }
}

@media screen and (max-width: 710px) {
    .blog-container {
        padding-top: 160px;
    }
}
@media screen and (max-width: 515px) {
    .blog-post {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {

    .blog-post {
        width: 100%;
    }
    .blog-post .image-article{
        width: 280px;

    }
}

@media screen and (max-width: 370px) {
    .articles-section{
        padding:10px;
    }
    .blog-post {
        width: 100%;
    }
    .blog-post .image-article{
        width: 240px;

    }
}