/*-----------------------------------/
#Reviews form
/-----------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Outfit", sans-serif;
    width: 100%;

    background:rgba(245, 245, 245, 0.8);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease-in-out infinite;
}

.container {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    margin: 10px;
}

h2{
    margin-bottom: 10px;
}
#star-rating {
    margin-bottom: 20px;
}

.star-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    gap:10px;
    -webkit-column-gap: 10px;

}
.star-row .bloc{
    align-items: center;
    display: flex;
}

.star-row span {
    margin: 0 2px;
    font-size: 25px;
    color: #aeae1a8b;
    transition: color 0.3s ease;
}

.star-row:hover span,
.star-row.selected span {
    color: #eed756; 
}

button {
    color: #fff;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #141b1fda;
    font-family: "Outfit", sans-serif;
    cursor:pointer;
}

.stars {
    color: #FFD700; 
}
