
@media screen and (max-width: 944px) {
    section aside {
        position: fixed;
        top: 100px;
        left: -100%;
        z-index: 150;
        width: 250px;
        transition: left 0.3s ease;
        margin-left: 20px;
        height: 78vh;
        border-top-left-radius: 0px;
    }
  
    .admin-menu {
        margin-right: 0px;
    }
    aside.active {
        left: 0;
    }
    
    .admin-menu {
        display: flex;
    }
    .exit-icon-admin {
        display: none;
    }
    .admin-menu.active .menu-icon-admin {
        display: none;
    }
    .admin-menu.active .exit-icon-admin {
        display: flex;
        cursor: pointer;
    }
    .right-side{
        border-radius: 14px;
        margin-left: 5px;
        width: 100%;
    }
    section .right-side .name{
        text-align: center;

    }
    
}
@media screen and (max-width: 730px){
    
    .section aside{
        height: 60vh;
        margin-left: 12px
    }
    .table-container{
        width: 99%;
    }
    table{
        width: 120%;
    }
    section{
        margin: 12px;
    }
    
     .container{
        padding: 12px;
    }
    .table-container{
        height: 450px;
    }

}
