





/*---------------------------------------/
#Feature
/---------------------------------------*/
.features{
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}
.features .feature h4{
    color: #3c8cc9;
}
.features .feature{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 400px;
}
.features .feature i{
    color: #353535;
}
/*---------------------------------------/
#About us
/---------------------------------------*/
.about-us {
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f9f9f9;
    width: 100%;
}

.about-us .container {
    margin: 0 auto;
}

.about-us h3 {
    text-align: center;
    margin-bottom: 20px;
}


.about-us .paragraphs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}